@tailwind base;
@tailwind components;
@tailwind utilities;

.textstroke {
  -webkit-text-stroke: 3px rgb(0, 0, 0);
  -webkit-text-stroke: 3px rgb(244, 122, 59);
}

@layer base {
  body {
    font-family: 'Corben';
  }

  p {
    font-family: 'Manrope';
  }

  h1 {
    @apply text-6xl;
    @apply font-bold;
  }

  h2 {
    @apply text-5xl;
    @apply font-bold;
  }
}
